{erl_opts, [
            debug_info,
            %% report, warn_export_vars, warn_missing_spec, warn_unused_import,
            {parse_transform, lager_transform}
]}.

{port_env, [
            {"linux", "CC", "g++"},
            {"linux", "CXX", "g++"},
            {"linux", "CXXFLAGS", "$CXXFLAGS -std=c++1y -O2"}
]}.

{port_specs, [{"linux", "priv/vnn_random.so", ["c_src/vnn_random.cpp"]},
              {"linux", "priv/vnn_params.so", ["c_src/vnn_params.cpp"]}]}.

{deps, [
        {lager, "2.0.3", {git, "https://github.com/basho/lager.git", {tag, "2.0.3"}}},
        {yaws,  "1.98",  {git, "https://github.com/klacke/yaws.git", {tag, "yaws-1.98"}}}
]}.
