body
{
    font-family:      Arial, sans-serif;
    font-size:        14px;
    background-color: #ffffff;
    margin:           0px;
    overflow:         hidden;
    margin:           0;
    padding:          0;
}

.Viewport
{
    position:         absolute;
    background-color: #aaa;
    top:              32px;
    left:             0px;
    right:            300px;
    bottom:           16px;
}

.Menubar
{
    position:         absolute;
    background-color: #eee;
    padding:          0px;
    margin:           0px;
    width:            100%;
    height:           32px;
}

.Statusbar
{
	position:         absolute;
    background-color: #eee;
    padding:          0px;
    margin:           0px;
    width:            100%;
    height:           16px;
    bottom:           0px;
}

.Sidebar
{
	position:         absolute;
    background-color: #eee;
    overflow:         auto;
    right:            0px;
    top:              32px;
    bottom:           16px;
    width:            300px;
}

.Menubar .menu
{
    float:  left;
    width:  80px;
    cursor: pointer;
}

.Menubar .menu .title
{
    color:            #666;
    margin:           0px;
    padding:          8px;
}

.Menubar .menu .options
{
    display:          none;
    padding:          5px 0px;
    background-color: #fff;
    width:            140px;
}

.Menubar .menu:hover .options
{
    display: block;
}

.Menubar .menu .options hr
{
    border-color: #ddd;
}

.Menubar .menu .options .option
{
    color:            #666;
    background-color: transparent;
    padding:          5px 10px;
    margin:           0px;
}

.Menubar .menu .options .option_disabled
{
    color:            #AAA;
    background-color: transparent;
    padding:          5px 10px;
    margin:           0px;
    cursor:           default;
}

.Menubar .menu .options .option:hover
{
    color:            #fff;
    background-color: #08f;
}
