body
{
    font-family:      Arial, sans-serif;
    font-size:        14px;
    margin:           0px;
    overflow:         hidden;
    margin:           0;
    padding:          0;
}

#viewport
{
    position: absolute;
    width:    100%;
    height:   100%;
}
